<head>
<nav id="navbar-example2" class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">OCELOTY</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#pets">Zwierzęta</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#shelters">Schroniska</a>
    </li>
  </ul>
</nav>
  <title>OCELOTY</title>
</head>
<body>
  <section>
    <h1 class="display-1">OCELOTY</h1>
  </section>
  <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
  <h4 id="pets">Lista Zwierząt</h4>
</div>
 <div class="card-deck">
  <div class="card">
    <img src="https://images.unsplash.com/photo-1507984211203-76701d7bb120?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1652&q=80" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Kitku</h5>
       </div>
    <ul class="list-group list-group-horizontal">
    <li class="list-group-item">samiec</li>
    <li class="list-group-item">kot</li>
  </ul>
  <div class="card-body">
 <a href="#" class="btn btn-primary">Go somewhere</a>
   </div>
  </div>
  <div class="card">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTApZLoQvpqAcM8zAciA8Xwol-OOM6jdsPSfDLO2LD82jc63m2z" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Ocelot</h5>
       </div>
    <ul class="list-group list-group-horizontal">
    <li class="list-group-item">samiec</li>
    <li class="list-group-item">ocelot</li>
  </ul>
  <div class="card-body">
 <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card">
    <img src="https://images.unsplash.com/photo-1507146426996-ef05306b995a?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Pieseł</h5>
    </div>
    <ul class="list-group list-group-horizontal">
    <li class="list-group-item">samiec</li>
    <li class="list-group-item">pies</li>
  </ul>
  <div class="card-body">
 <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  </div>
</div>
<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
  <h4 id="shelters">Lista Schronisk</h4>
</div>
<div class="card-deck">
  <div class="card">
      <div class="col-md-4">
      <img src="..." class="card-img" alt="...">
    </div>
    <div class="card-body">
      <h5 class="card-title">Schronisko1</h5>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Schronisko2</h5>
    </div>
  </div>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="http://schronisko.kalisz.pl/wp-content/uploads/2018/06/schronisko_logo.png" class="card-img" alt="logo">
    </div>
    <div class="card-body">
      <h5 class="card-title">Schronisko3</h5>
      <button type="button" class="btn btn-secondary btn-sm">Zobacz</button>
    </div>
  </div>
</div>
</body>
